<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style/global_style.css">
</head>
<body>
    <header>
        <img src="/images/cannabis-logo.png">
        <h1>Serre connectée</h1>
        <img src="/images/cannabis-logo.png">
    </header>
    <!-- Ton bordel ici -->

    <div id="main_frame">
        <p>Il est <%= locals.date[1] %> et nous sommes le <%= locals.date[0] %>.</p>
        <br>
        <hr>
        <br>
        <div class="hbox" style="justify-content: space-between;">
            <div id="temps">
                <p>Température et humidité exterieurs : <%= locals.temp_ext %>°C ,  <%= locals.hum_ext %>% </p>
                <p>Température et humidité interieurs : <%= locals.temp_int %>°C ,  <%= locals.hum_int %>%</p>
            </div>
            <div id="eau" class="hbox">
                <p>Niveau de l'eau :</p>
                <div class="spacer_10px"></div>
                <div id="water_level_container" class="tooltip" style="background-color:grey ; width: 30px; height: 100px; display: flex; justify-content: center; align-items: flex-end;">
                    <div  id="water_level" style="background-color:cyan ; width: 26px; height: 90px;">

                    </div>
                    <p class="tooltiptext" id="water_level_value"><%= locals.water_level %>% </p>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="hbox">
            <p>Arroser </p>
            <div class="spacer_10px"></div>
            <form action="javascript:_on_arroser_request()" method="post">
                <input type="text" name="ml" id="ml" onkeypress='validate_number_field(event)'>
                ml
                <input type="submit" value="OK" id="btn_arroser">
            </form>
            <img src="/images/plant_water.gif" width="60px" height="60px" id="plant_gif">
            <img src="/images/error.gif" width="60px" height="60px" id="error_gif">
        </div>
    </div>


    <!-- Fin du bordel -->
    <nav id=sections_bar>
        <ul id="sections">
            <li class="section" id="selected_menu"><a href="/infos">Informations</a></li>
            <li class="section"><a href="/config">Configurer</a></li>
            <li class="section"><a href="/settings">Parametres</a></li>
        </ul>
    </nav>
<script type="text/javascript" src="scripts/infos.js"></script>
<script type="text/javascript" src="scripts/utils.js"></script>
</body>
</html>